@page "/catalog/{id}"

@using EcoMeal.Entities;
@using EcoMeal.Controllers;

@using Microsoft.AspNetCore.Mvc;

@inject BusinessController businessController
@inject PackageController packageController

<PageTitle>Catalog @(error ? "- Error" : "")</PageTitle>

<h3>@headName</h3>
<hr />

@if (error)
{
    <div class="alert alert-danger">
        <span class="fw-bold">Error: </span>
        Business with ID "@id" <span class="fw-bold">not found</span>.
        Try again from the <a href="/businesses">main page</a>.
    </div>
    return;
}

<div class="container-sm">
    <div class="fw-semibold">
        Business "@currentBusiness?.Name" has @(packages?.Count ?? 0)<i class="bi bi-box-seam-fill"></i> packages available.
    </div>

    <a class="btn btn-primary" role="button" href="/create-package/@BusinessID">
    Create New Package Listing <i class="bi bi-box-seam-fill"></i>
    </a>
</div>



@code {
    [Parameter]
    public string id { get; set; }
    Guid BusinessID;

    private Business? currentBusiness;

    bool error = false;
    string headName => error ? "Catalog - Error" : $"Catalog for {currentBusiness?.Name}";

    private List<Package>? packages = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            BusinessID = Guid.Parse(id);
        }
        catch (FormatException)
        {
            error = true;
            return;
        }

        Console.WriteLine($"Catalog ID: {BusinessID}");

        ActionResult<Business?> result = await businessController.GetById(BusinessID);
        if (result.Result is NotFoundResult)
        {
            error = true;
            return;
        }


        currentBusiness = result.Value;

        ActionResult<List<Package>> packageResult = await packageController.GetByBusinessIdAsync(BusinessID);
        packages = packageResult.Value;

        Console.WriteLine("Ok things loaded fine.");
    }
}
