@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        // we don't really care too much about some generic homepage, the Business page is what's important.
        NavigationManager.NavigateTo("/businesses", replace: true);
    }
}