@page "/"
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager

@* @inject AuthenticationStateProvider AuthStateProvider *@


<PageTitle>Home</PageTitle>

<h1 class="text-danger fw-bolder">Stand by for redirect!</h1>


<head>
    <AuthorizeView>
        <Authorized>
            <meta http-equiv="refresh" content="0; url=/dashboard" />
        </Authorized>
        <NotAuthorized>
            <meta http-equiv="refresh" content="0; url=/businesses" />
        </NotAuthorized>
    </AuthorizeView>
</head>

@code {
    protected override void OnInitialized()
    {
        // NavigationManager.NavigateTo("/businesses");
    }
}