@page "/access-denied"

<h1 class="fw-bolder">Access Denied</h1>
<hr>

<p class="text-danger fs-2 fw-bold">
    You do not have permission to view this page.
</p>
<p class="text-secondary fs-5 fst-italic">
    If you believe this is a mistake, contact an administrator.
</p>
<hr />

@code {

}
