@page "/users"

@using Microsoft.AspNetCore.Authorization;
@using EcoMeal.Constants;
@using EcoMeal.Entities;
@using EcoMeal.Controllers;

@attribute [Authorize(Roles = AppRoles.Admin)]


<PageTitle>Users</PageTitle>

<h1>Users</h1>
<hr />

<div class="container-sm">
    Ok so current user...<br />

    @if (currUser == null)
    {
        <p>Currently null</p>
    }
    else
    {
        <p>
            <ul>
                <li>Name: @currUser.FullName</li>
                @* <li>ID:  @currUser.Role</li> *@
            </ul>
        </p>
    }

    <div>
        Bababooey
        <AuthorizeView>
            <Authorized>
                <p>You are logged in! Welcome, @context.User.Identity?.Name</p>
            </Authorized>
            <NotAuthorized>
                <p>You are a guest.</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>



@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<ApplicationUser> UserManager

@code {

    ApplicationUser currUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var userPrincipal = authState.User;
        
        string userId = "???";

        if (userPrincipal.Identity is { IsAuthenticated: true })
        {
            userId = UserManager.GetUserId(userPrincipal) ?? "[nil]";

            if (userId != "[nil]")
            {
                currUser = await UserManager.FindByIdAsync(userId);
            }
        }
        else
        {
            userId = "[Unauthenticated Guest]";
        }
    }
}
