@page "/users"

<PageTitle>Users</PageTitle>

<h1>Users</h1>
<hr />

<div class="container-sm">
    <div class="alert alert-danger fw-bold fs-3" role="alert">
        HEY! WHEN I HAVE TIME TO FUCK AROUND WITH USERS, I'LL LET YOU KNOW OK?
    </div>

    <div class="card">
        <span class="fs-4">Here, have a spinning fish.</span>
        <br />
        <img src="https://spinning.fish/fish.gif" style="width:50%; height:50%;"/>
    </div>
</div>

@code {

}
