@page "/users"
@rendermode InteractiveServer

@using EcoMeal.Models;
@using EcoMeal.Services;

@inject UserService UserService

<PageTitle>Users</PageTitle>


<h2>Users</h2>
<hr />

@if (!authorized)
{
    <div class="alert alert-danger fw-bold" role="alert">You are not authorized to view this page.</div>
    return;
}

<p>past if</p> @*obv doesn't show up*@

@code {
    bool authorized = false;

    List<User> userList = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        userList = await UserService.GetUsers(true);
    }

    
}
